html {
  font: normal normal normal 1.2rem/normal sans-serif;
}
body {
  color: #ced4da;
  background: #1f2022;
}
header {
  margin: 1rem 0 1rem;
}
h1 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
}
main {
  max-width: 800px;
  margin: 0 auto 0;
  padding: 2rem;
  background: black;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}
article {
  text-align: center;
}
figure {
  height: 0;
  overflow: hidden;
  padding-bottom: 66%;
  position: relative;
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
figcaption {
  margin: 0.5rem 1rem;
}
nav {
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: smaller;
  text-align: center;
}
nav a {
  color: #ced4da;
  text-decoration: none;
}
nav ul {
  list-style: none;
  padding: inherit;
}
nav li {
  margin-bottom: 1rem;
}
